@import "src/App";

body > canvas {
  z-index: 0!important;
}
* {
  font-family: 'Charm', serif!important;
}
.game-panel {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  > * {
    position: absolute;
    width: 230px;
    margin: 10px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    h3 {
      font-size: 30px;
      > b {
        color: #9cca5b
      }
    }
  }
  &__money {
    left: 50%;
    transform: translateX(-50%);
    h3 img {
      position: absolute;
      left: 56px;
      top: 17px;
    }
  }
  &__health {
    top: 0;
    left: 0;
    &-count {
      > img {
        max-width: 20px;
        margin: 0 2px;
      }
    }
  }
  &__score {
    top: 0;
    right: 0;
  }
  &__kills {
    bottom: 0;
    left: 0;
  }
  &__time {
    right: 0;
    bottom: 0;
  }
}

