#game-panel {
  position: fixed;
  z-index: 9000;
}

*{
  margin: 0;
  padding: 0;
  overflow: hidden;;
}


.all{transition: 0.3s;}

.all:hover{
  transform: translateY(5px);
  transition: 0.3s;
}

.modal_w{
  transition: 0.5s;
  text-align:center;
  width:  100%;
  height: 100vh;
  z-index: 0;
}

.modal_www{
  transition: 0.5s;
  text-align:center;
  width:  100%;
  height: 100vh;
  z-index: 1;
}

button{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.inner{
  width:  100%;
  position: fixed;
  height: 100vh;
  text-align:center;
  font-family: "Charm";
  background: rgba(0,0,0,.3);
  z-index: 9999;

  color: white;
}

.innerr{
  width:  100%;
  height: 100vh;
  z-index: 9999;
  text-align:center;
  position: fixed;
  font-family: "Charm";
  background: rgba(0,0,0,.3);
  color: white;
}
.squ{
  height:100px;
  width: 100px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  float:left;
  margin-left: 50px;
}
